Artifacts/
src/Binaries/
src/DerivedDataCache/
src/Intermediate/
src/Saved/
src/.vs/
src/*.sln
src/*.slnx
src/Plugins/**/Binaries/
src/Plugins/**/Intermediate/
src/Build/Scripts/obj/
src/Build/Scripts/bin/
__pycache__/
*.blend[0-9]
